.portfolioparent{
    min-width: 100%;
    min-height: 100vh;
    background-color: #333333;
}
.portfolioadult{
    min-width: 100%;
    min-height: 100vh;
}
.portfoliochild{
    width: 100%;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    position: relative;
    font-family: 'montserrat';
    padding: 4em;
    gap: 5em;
}
.r-portfolio{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    position: relative;
    top: 7em;
}
.r-portfolio>h1{
    font-size: 4em;
    font-weight: 900;
}
.r-portfolio>a>button{
    border-radius: 0.8em;
    padding: 1em;
    font-weight: 900;
    font-family: 'poppins';
}

/* Left Box */
.l-portfolio{
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 5em;
    left: 2.5em;
}
.l-portfoliochild{
    position: relative;
    width: 10em;
    height: 10em;
    display: flex;
    flex-direction: column;
    background-color: orangered;
    border-radius: 50%;
    animation: rotate 6s 2s infinite;    
}
@keyframes rotate {
    to{
        transform: rotate(360deg);
    }
}
.l-portfoliochild>.platform{
    width: 12em;
    height: 12em;
    border-radius: 50%;
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 0.7em;
    box-shadow: 1px 1px 8px black;
}
.l-portfoliochild>.platform>img{
    width: 100%;
    padding: 2em;
}
.platform:nth-child(1){
    position: absolute;
    top: -8em;
    left: 2em;
}
.platform:nth-child(2){
    position: absolute;
    right: -9em;
    top: 1em;
}
.platform:nth-child(3){
    position: absolute;
    bottom: -8em;
    left: 2em;
}
.platform:nth-child(4){
    position: absolute;
    left: -8em;
    top: 1em;
}
@media (max-width: 900px) {
    .portfoliochild{
        flex-wrap: wrap;
        flex-direction: column;
        font-size: 0.8em;
        top: 0;
    }
    .r-portfolio{
        top: 0;
    }
    .l-portfoliochild{
        left: -2em;
    }    
}